* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    max-width: 500px;
    background: white;
    height: 400px;
    position: relative;
    bottom: 120px;
    z-index: 999;
    padding: 0 2%;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-login h2 {
    text-align: center;
    padding: 30px 0;
}

.form-login input[type=email],
.form-login input[type=password] {
    width: 100%;
    height: 40px;
    padding: 0 2%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-login input[type=email] {
    margin-bottom: 30px;
}

.form-login input[type=email]:focus,
.form-login input[type=password]:focus {
    outline: none;
}

.form-login button {
    width: 100%;
    margin-top: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    background: #00cba9;
    color: white;
    font-size: 17px;
    border: 0;
    height: 40px;
}

.background-svg {
    width: 100%;
    height: 100%;
    background-color: #e6ede8;
}

.svg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.svg-bt-1 {
    animation: animeLeft 3s infinite;
}

.svg-bt-2 {
    animation: animeRight 3s infinite;
}

.svg-bt-3 {
    animation: animeBottom 3s infinite;
}

.box-alert {
    width: 200px;
    text-align: center;
    font-size: 19px;
    color: white;
    height: 40px;
    padding: 6px 0;
    border-bottom-right-radius: 20px;
    position: absolute;
    top: 0;
    left: -300px;
    background: #E7008A;
    animation: animeBox 1s forwards;
}

@media screen and (max-width: 990px) {
    .container {
        max-width: 400px;
        padding: 0 5%;
        top: 20px;
    }
}
